{% extends "base.html" %}
{% load static %}
{% block main  %}
<div class="container-fluid">
<div class="row">
<div class="col-md-5 mx-auto pt-5">
    <div class="logo-container text-center">
        <img src="{% static 'images/kca_alumni_logo.png'%}" alt="Kca alumni logo">
    </div>
    <h1 class="text-center">Register</h1>
    <form action="">
    <label for="" class="form-label">First Name</label>
    <input type="text" name="" id="" class="form-control">
    <label for="" class="form-label">Last Name</label><input type="text" name="" id="" class="form-control">
    <label for="" class="form-label">Graduation Year</label><input type="text" name="" id="" class="form-control">
    <label for="" class="form-label">Course</label><input type="text" name="" id="" class="form-control">
    <label for="" class="form-label">Password</label><input type="password" name="" id="" class="form-control">
    <label for="" class="form-label">Confirm Password</label><input type="password" name="" id="" class="form-control">

    <br>
        <input type="submit" value="Create Account" class="btn btn-lg btn-prime w-100 btn-primary text-center">
</form>

</div>
</div>
</div>

{% endblock main  %}


